.carrito__container{
    display: flex;
    align-items: center;
}

.carrito__icono{
    color: black;
    font-size: 24px;
    margin-right: 5px;
}

.carrito__cantidad{
    width: 25px;
    font-size: 12px;
    color: black;
    text-decoration: none;
    font-family: Roboto;
    border-radius: 10px;
    position: relative;
    top: 120px;

}