.carrito__container{
    position: relative;
}

.carrito__icono{
    color: black;
    font-size: 2rem;
    margin-right: 5px;
}

.carrito__cantidad{
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: red;
    color: white;
    font-size: 12px;
    border-radius: 50%;
    width: 25px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}