h1{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 16px;
}

.producto__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:10px;
    margin-bottom: 16px;
    margin-bottom: 30px;
}