

.producto__card{
    background-color: #fff;
    border: none;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: box-shadow 0.3s;
    text-align: center;
    margin-bottom: 30px;
}

.producto__card:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);

}
.producto__imagen{
    width: 90%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.producto__titulo{
    color: black;
    font-family: 'Roboto', sans-serif;
}

.producto__categoria{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: black;
}

.producto__precio{
    font-family: 'Roboto', sans-serif;
    color:gray;
}

.producto__boton{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.producto__boton:hover{
    background-color: grey;
}

.producto__boton:active{
    background-color: grey;
}