.item__detalle{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.item__imagen img{
    width: 400px;
    height: 400px;
    border-radius: 8px;
}

.item__info{
    width: 50%;

}

.item__titulo{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 500;
}

.item__descripcion , 
.item__precio{
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: justify;
    margin-top: 20px;
    line-height: 30px;
    padding: 16px;
}

.item__categoria{
    font-size: 14px;
    font-style: italic;
}


@media (max-width: 768px) {

    .item__detalle{
        flex-direction: column;
        align-items: center;
        padding: 20px;

    }

    .item__imagen img{
        width: 100%;
        max-height: 300px;
        border-radius: 8px;
        margin-bottom: 15px;
    }

    .item__info{
        width: 100%;
        padding: 0;
    }

    .item__titulo{
        text-align: center;
        font-size: 24px;
        font-weight: 500;
        margin-top: 20px;
    }
}