

.navbar{
    position: relative;
    color: gainsboro;
    
}

.nav__logo{
    max-width: 200px;
}

.nav__contain{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: green;
}


.nav-link{
    color: #fff;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.3px;
    text-decoration: none;
}



