.cantidad{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;

}

.cantidad__menos, .cantidad__mas{
    width: 40px;
    height: 30px;
    color: black;
    font-size: 18px;
    border: 1px solid gray;
    cursor: pointer;
    border-radius: 1px;
}


.cantidad__numero{
    width: 40px;
    height: 30px;
    text-align: center;
    font-size: 16px;
    border: 1px solid black;
    padding: 4px;
}

.agregar{
    font-family: 'Montserrat', sans-serif;
    width: 120px;
    height: 40px;
    background-color: white;
    color: black;
    font-size: 14px;
    border-color: black;
    cursor: pointer;
}


.agregar:hover{
    background-color: gray;
    color: white;
    opacity: 0.8;
}

